<p class="ql-align-center"><strong>MISIÓN AD GENTES – CUESTIONARIO</strong></p>
<p><strong>PROVINCIA:</strong></p>
<p>
    <strong
        >Hermana:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comunidad
        Local:</strong
    >
</p>
<p>
    <strong
        >Fecha de nacimiento
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha
        de Vocación</strong
    >
</p>
<p><strong>Ha pedido la Misión Ad Gentes a la Superiora General.</strong></p>
<p><br /></p>
<p class="ql-align-center">
    <strong><u>Informaciones pedidas a la Visitadora y a su Consejo</u></strong>
</p>
<p>
    <strong
        >1.- Sobre las diferentes dimensiones de la vida de esta
        Hermana:</strong
    >
</p>
<p>
    <strong
        >a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dimisión Humana (salud – equilibrio
        afectivo y psicológico, capacidad de adaptación, vida de
        relación)</strong
    >
</p>
<p><strong>&nbsp;</strong></p>
<p>
    <strong
        >b)&nbsp;&nbsp;&nbsp;&nbsp;Dimisión espiritual (espiritual de fe – vida
        de oración – sentido eclesial…)</strong
    >
</p>
<p><br /></p>
<p>
    <strong
        >c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dimensión comunitaria (interés por el
        bien común: participación – actitud para compartir – adaptación –
        capacitación de la diversidad…)</strong
    >
</p>
<p><br /></p>
<p>
    <strong
        >d)&nbsp;&nbsp;&nbsp;&nbsp;Dimensión apostólica (capacitación de
        colaboración – preparación profesional – conocimiento de lenguas o
        capacidad para aprenderlas…, experiencias en el servicio de los pobres)
    </strong>
</p>
<p><br /></p>
<p>
    <strong
        >e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¿ha recibido ya una preparación
        misionera?</strong
    >
</p>
<p><br /></p>
<p><strong>2.- Opinión de la Visitadora con su Consejo</strong></p>
<p>
    <strong
        >Positivo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Motivaciones:</strong
    >
</p>
<p>
    <strong
        >Negativo:
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Motivacioens:</strong
    >
</p>
<p>
    <strong
        >3.- En caso de ser aceptada para la Misión, ¿Cuánto tiempo será
        necesario para liberar a la Hermana?</strong
    >
</p>

<ul>
    <li>Coffee</li>
    <li>
        Tea
        <ul>
            <li>Black tea</li>
            <li>
                Green tea
                <ul>
                    <li>China</li>
                    <li>Africa</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Milk</li>
</ul>
<p><br /></p>
<p><strong>Fecha: </strong></p>
<p><br /></p>
<p><br /></p>
<p class="ql-align-center">……………………………….</p>
<p class="ql-align-center"><strong>Sor ……….</strong></p>
<p class="ql-align-center"><strong>Hija de la Caridad</strong></p>
<p><br /></p>
<p><br /></p>
<p class="ql-align-center"><strong> &nbsp;</strong></p>
